/*********************************

  COLOURS

  Custom colour variables can be defined here, and named as you please.
  Remember though that whilst colour variables such as "green" should never be
  reassigned to another colour, they do offer memorable names when combined
  with another, more descriptive word. "facebook-blue" is a good example.

**********************************/

$primary-colour: #E2B644; /* Mustard Yellow */

$off-white: #F2F1EF;
$black: #333;
$light-grey: #949494;

$facebook-blue: #3B5998;
$google-red: #D73D32;
