/*********************************

  GLOBAL SETTINGS

**********************************/

/////////////
//  FONTS  //
/////////////


$base-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-font-size: 1rem;
$base-leading: 1.5;
$title-leading: 1.25;
$solid-leading: 1;

$weight-reg: 400;
$weight-semi: 600;
$weight-bold: 700;

$base-spacing-unit: $base-leading;
$base-radius: 3px;
