/*********************************

  GLOBAL SETTINGS

**********************************/

/////////////
//  FONTS  //
/////////////


$base-font: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
             'avenir next', avenir, /* MacOS and iOS */
             'Segoe UI' /* Windows */
             'lucida grande', /* Older MacOS */
             'helvetica neue', helvetica, /* Older MacOS */
             'Fira Sans', /* Firefox OS */
             roboto, noto, /* Google stuff */
             'Droid Sans', /* Old Google stuff */
             cantarell, oxygen, ubuntu, /* Linux stuff */
             'franklin gothic medium', 'century gothic', /* Windows stuff */
             sans-serif; /* Everything else */

$header-font: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI' /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               sans-serif; /* Everything else */

$base-font-size: 1rem;
$base-leading: 1.5;
$title-leading: 1.25;
$solid-leading: 1;

$weight-reg: 400;
$weight-semi: 600;
$weight-bold: 700;

$base-spacing-unit: $base-leading;
$base-radius: 3px;
