/*********************************

  GLOBAL SETTINGS

**********************************/

/////////////
//  FONTS  //
/////////////

$base-font: 'Open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-font-size: 12px;
$base-line-height: 18px;

$base-spacing-unit: $base-line-height;
$base-radius: 3px;
