/*********************************

  HEADING STYLES

**********************************/


$heading-size-1:  3rem     !default;
$heading-size-2:  2.25rem  !default;
$heading-size-3:  1.5rem   !default;
$heading-size-4:  1.25rem  !default;
$heading-size-5:  1rem     !default;
$heading-size-6:  .875rem  !default;

$header-margin: ($base-leading / $base-font-size) * 1rem;


h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: $header-font;
}

h1 {
  @include font-size($heading-size-1, $title-leading);
}

h2 {
  @include font-size($heading-size-2, $title-leading);
}

h3 {
  @include font-size($heading-size-3, $title-leading);
}

h4 {
  @include font-size($heading-size-4, $title-leading);
}

h5 {
  @include font-size($heading-size-5, $title-leading);
}

h6 {
  @include font-size($heading-size-6, $title-leading);
}
